/* .sidebar{
    border: 1px solid #dedede;
    -webkit-box-shadow: -4px 0 11px 0 rgba(0, 0, 0, 0.14);
    box-shadow: -4px 0 11px 0 rgba(0, 0, 0, 0.14);
    border-radius: 8px 8px 8px 8px;
} */

.stock-list {
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0px;
    z-index: 2;
    overflow: auto;
    width: 300px;
    text-align: center;
    background: #ffffff;
    /* border: 1px solid #dedede;
    -webkit-box-shadow: -4px 0 11px 0 rgba(0, 0, 0, 0.14);
    box-shadow: -4px 0 11px 0 rgba(0, 0, 0, 0.14);
    border-radius: 8px 8px 8px 8px;

    -webkit-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s; */
}

.stock-diagram {
    position: fixed;
    top: 0px;
    left: 320px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: auto;
    background: #ffffff;
}

.keyword-input{
    position: fixed;
    top: 0px;
    left: 0px;
    outline-style:none;
    border: 1px solid #ccc;
    border-radius: 32px;
    padding: 8px 8px;
    margin: 16px 0 0 16px;
    width: 250px;
    font-size: 16px;
}

.stock-row {
    z-index: 2;
    font-size: small;
    overflow: auto;
    background: #ffffff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 8px;
    border-radius: 0px 16px 16px 0px;
}

.stock-row:hover {
    background-color: #e7e7e7;
    /* -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s; */
}
.stock-row:active {
    box-shadow: 0 1px rgb(200, 200, 200);
    transform: translateY(1px);
    /* box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 16px 16px 0 rgba(0,0,0,0.19); */
  }